<div class="link" data-id="<%= link.id %>">
  <div><%= link_to link.title, link.url, class: ["title", link.status] %></div>
  <div>
    <%= link_to (link.read ? "Mark as Unread" : "Mark as Read"), "#",
      class: "status", "data-read": link.read %>
  </div>
</div>
